* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.header-top {
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    height: 45px;
}

.header-top-right {
    display: flex;
}

.header-top-right div {
    margin-right: 10px;
    background-color: white;
    padding: 8px;
    height: 40px;
    width: 120px;
}

.header-top-right div ul {
    display: inline-block;
    list-style: none;

    width: 160px;
    border: 1px solid black;
    /* padding: 15px; */
    position: relative;
    top: 5px;
    right: 50px;
    font-size: 18px;
    display: none;
}

.my-account:hover ul {
    display: block;
}

.my-account ul li {
    padding: 8px;
}

.my-account ul li:hover {
    cursor: pointer;
    background-color: #ede7e7;
}

.header-top-left ul li {
    display: inline;
    margin-right: 10px;
    font-size: 18px;
}

.header-top-left ul li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.header-bottom {
    height: 90px;
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
}

/* .header-bottom div{
    
} */

.logo {
    font-size: 35px;
    font-weight: 800;
}

.logo-left {
    background-color: #3d464d;
    color: #ffd333;
    padding: 5px;
}

.logo-right {
    color: #3d464d;
    background-color: #ffd333;
    padding: 5px;
}

.search-box{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box input{
    width: 60%;
    height: 35px;
    
}

.navigation-bar{
    background-color: #3d464d;
    height: 80px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
}

.navigation-bar select{
    height: 80px;
    width: 300px;
    font-size: 18px;
    background-color: #ffd333;
}
.navigation-bar select option{
    background-color: white;
    padding: 10px;
    
}

.nav-list{
    display: flex;
    font-size: 16px;
    color: white;
    padding: 25px;
    width: 800px;
}

.nav-list div{
    margin-right: 20px;
}

.cart{
    padding: 25px;
    color: #ffd333;
    font-size: 30px;
    
    width: 250px;
    display: flex;
    gap: 10px;
}

.cart span{
    /* display: inline-block; */
    height: 30px;
    width: 30px;
    border: 2px solid white;
    border-radius: 50%;
    /* padding: 10px; */
    /* padding-bottom: 10px; */
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.home{
    padding: 20px;
    display: flex;
    padding-left: 50px;
    padding-right: 50px
}

.home-left{
    width: 65%;
    background-image: url('https://themewagon.github.io/multishop/img/carousel-2.jpg');
    height: 430px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding-left: 200px;
    padding-right: 200px;
    color: white;
    text-align: center;
   
}

.home-left h1{
    font-size: 60px;
}

.home-left button{
    padding: 15px;
    width: 120px;
    background: transparent;
    color: white;
    font-size: 16px;
    border-color: white;
    transition: all 0.8s ease;
}
.home-left button:hover{
    background-color: white;
    color: black;
}

.home-right{
    width: 30%;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 25px;

}

.home-right img{
    height: 200px;
    width: 450px;
}

.rotate-img{
    transition: all 1s ease;
}

.rotate-img:hover{
    transform: rotate(10deg) scale(1.3);
}

.home-right-inner{
    overflow: hidden;
    position: relative;
    height: 200px;
    width: 450px;
}

.home-right-content{
    position: absolute;
    bottom: 45px;
    left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    color: white;
}

.home-right-content button{
    background-color: #ffd333;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
}